# taken from:
# https://github.com/github/gitignore/blob/master/LaTeX.gitignore
#

*.aux
*.bbl
*.blg
*.cub
*.map
*.out
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0

# plus some extras:

*~
*.py[co]
*.o 
*.so


# for fabricate
.deps
build

# mac crap
.DS_store
