a:link
{
	color: #000000;
}
a:visited
{
	color: #000000;
}
a:hover
{
	color: #000000;
}
a:active
{
	color: #000000;
}
a:focus
{
	color: #000000;
}
h1 a
{
	text-decoration: none;
}
h2 a
{
	text-decoration: none;
}
h3 a
{
	text-decoration: none;
}
body
{
	font-family: Arial, Tahoma, Verdana, sans-serif;
}
tt
{
	font-family: Courier New, Courier, monospace;
}
#menu
{
	display: none;
}
#submenu
{
	display: none;
}
#title
{
	text-align: left;
	font-weight: bold;
	font-size: 20pt;
}
#title tt
{
	font-weight: bold;
	font-size: 23pt;
}
#text
{
	text-align: justify;
	font-size: 12pt;
}
#text tt
{
	font-weight: normal;
	font-size: 14pt;
}
#small
{
	text-align: justify;
	font-size: 10pt;
}
#small tt
{
	font-weight: normal;
	font-size: 11pt;
}
#tiny
{
	text-align: justify;
	font-size: 8pt;
}
#tiny tt
{
	font-weight: normal;
	font-size: 9pt;
}
#footer
{
	text-align: center;
	font-size: 8pt;
}
#footer a
{
	color: #000000;
	text-decoration: none;
}
h1
{
	font-weight: bold;
	font-size: 18pt;
	text-align: center;
}
#text h1 tt
{
	font-weight: bold;
	font-size: 20pt;
}
h2
{
	font-weight: bold;
	font-size: 16pt;
	text-align: center;
}
#text h2 tt
{
	font-weight: bold;
	font-size: 18pt;
}
h3
{
	font-weight: bold;
	font-size: 14pt;
	text-align: center;
}
#text h3 tt
{
	font-weight: bold;
	font-size: 16pt;
}
li
{
	text-align: left;
}

